<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.html' %}
<body>
    {% include 'partials/navbar.html' %}

    <div class="container">
        <h2>My Recipes</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Recipe Name</th>
                    <th scope="col">Last Updated</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in user.user_recipes.all reversed %}
                <tr>
                    <td>{{recipe.title}}</td>
                    <td>{{recipe.created_at|date}}</td>
                    <td><a href="/recipe/{{recipe.id}}/show">View</a> | <a href="/recipe/{{recipe.id}}/edit">Edit</a> | <a href="/recipe/{{recipe.id}}/delete/{{user.id}}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    {% include 'partials/scripts.html' %}
</body>
</html>